/* ------------------------ Variables ------------------------ */
/* #region Variables */
:root {
  --sds-logo-color-middle: #fff;
  --sds-logo-color: #fff;
}
@media (prefers-color-scheme: dark) {
  :root {
    --main-bg-color: #161616;
    --sds-color-1: #00bba4;
    --sds-color-2: #c6d53a;
    --sds-accent-1: #2d0a41;
    --sds-accent-2: #b1003a;
    --sds-color-shadow: #eeeeee;
    --sds-color-font: #fff;
  }
}
@media (prefers-color-scheme: light) {
  :root {
    --main-bg-color: #eeeeee;
    --sds-color-1: #2d0a41;
    --sds-color-2: #b1003a;
    --sds-accent-1: #00bba4;
    --sds-accent-2: #c6d53a;
    --sds-color-shadow: #161616;
    --sds-color-font: #000;
  }
}
/* #endregion */
/* -------------------------- Fonts -------------------------- */
/* #region Fonts */
@font-face {
  font-family: Bitter;
  src: url(../fonts/Bitter-Bold.ttf);
}
@font-face {
  font-family: Open-Sans;
  src: url(../fonts/OpenSans-Regular.ttf);
}
@font-face {
  font-family: Open-Sans-Bold;
  src: url(../fonts/OpenSans-Bold.ttf);
}
/* #endregion */
/* ------------------------- General ------------------------- */
/* #region General */
* {
  font-family: "Open-Sans-Bold";
  font-weight: bold;
}
html {
  color: var(--sds-color-font);
  height: 100%;
}
body {
  background-color: var(--main-bg-color);
  margin: 0;
  width: 100%;
  height: 100%;
  /* disable scrolling */
  overflow: hidden;
}
p {
  margin: 0;
  padding: 0;
}
div {
  display: flex;
  justify-content: center;
  /* Space between elements */
  margin: 0.5em;
}
h1 {
  font-size: 2em;
  margin: 0;
  padding: 0;
  position: absolute;
  top: 1em;
  left: 1em;
  font-family: "Bitter";
}
::-webkit-scrollbar {
  width: 0px;
}
/* #endregion */
/* ---------------------- Messageboard ----------------------- */
/* #region Messageboard */
#messageboard {
  position: absolute;
  padding: 0 1em;
  bottom: 1em;
  opacity: 1;
  right: 1em;
  height: 4em;

  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;

  background-color: var(--main-bg-color);
  z-index: 100;
  text-align: left;
  align-items: center;
  justify-content: flex-start;
  gap: 1em;

  /* animate comig up */
  transition: bottom 0.5s ease-in-out, opacity 0.5s ease-in-out;
}
#messageboard.hidden {
  /* transform: translateY(7em);
	*/
  bottom: -7em;
  opacity: 0;
}
/* #endregion */
/* -------------------------- NO JS -------------------------- */
/* #region NO JS */
.no-js footer {
  position: absolute;
  bottom: 0;
}
.no-js form:has(.stickerdemo) {
  display: none;
}
.no-js #downloadfield {
  display: none;
}
.no-js footer {
  bottom: 5%;
}
.no-js #savefield {
  display: none;
}
#no-js-msg {
  display: none;
  text-align: center;
  font-size: 1.5em;
  position: relative;
  top: 50%;
  margin: 0;
}
.no-js #no-js-msg {
  display: inherit;
}
.no-js body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
/* #endregion */
/* ---------------------- Language Menu ---------------------- */
/* #region Language Menu */
#languagemenu {
  display: none;
  padding: 0;
  margin: 0;
  z-index: 999;
  background-color: var(--main-bg-color);
  /* 3 rows and x colums */
  grid-template-rows: 1fr 1fr 1fr;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 1em;
}
#languagemenu.open {
  display: grid;
}
.lan {
  padding: 0.2rem;
  margin: 0;
  font-size: 1em;
  height: 2rem;
  width: 2rem;
  text-decoration: none;
  color: var(--sds-color-font);

  background-size: auto 100%;
  background-repeat: no-repeat;
  background-position: center;

  display: flex;
  justify-content: center;
  align-items: center;
}

.lan:hover {
  text-shadow: 0 0 0.2em var(--main-bg-color);
  font-size: 0.2em;
  justify-content: left;
  align-items: start;
}

.language {
  display: flex;
  flex-direction: row;
  z-index: 999;
  position: absolute;
  top: 1em;
  left: 1em;
  margin: 0;
  gap: 1em;
}
/* #endregion */
/* ------------------------ Save/Load ------------------------ */
/* #region Save/Load */
#savebutton,
#languagebutton,
#loadbutton,
#deletebutton {
  --hover-color: var(--main-bg-color);
  width: 2em;
  height: 2em;
  margin: 0;
  padding: 0;
}
#savebutton:hover,
#loadbutton:hover,
#deletebutton:hover {
  background-color: var(--sds-color-font);
  color: var(--hover-color);
}
#bugbutton {
  width: 1em;
  height: 1em;
  margin: 0;
  padding: 0;
  z-index: 100;
  right: 0;
  bottom: 0;
  position: absolute;
}
#savefield {
  position: absolute;
  top: 1em;
  margin: 0;
  z-index: 100;
  right: 1em;
  justify-content: right;
  width: min-content;
}
#save_name {
  border: 0.5em solid var(--sds-color-2);
  padding: 0.2em;
  font-size: 1em;
  width: 8em;
  height: 1.6em;
  margin: 0;
  position: relative;
  background-color: var(--main-bg-color);
  color: var(--sds-color-font);
}
/* #endregion */
/* ---------------------- Autocomplete ----------------------- */
/* #region Autocomplete */
.autocomplete {
  /*the container must be positioned relative: */
  position: relative;
  display: inline-block;
  margin: 0;
  width: 9.4em;
}
.autocomplete-items {
  position: absolute;
  border: 1px solid var(--sds-color-2);
  border-bottom: none;
  border-top: none;
  display: flex;
  flex-direction: column;
  z-index: 99;
  /*position the autocomplete items to be the same width as the container: */
  top: 100%;
  left: 0;
  right: 0;
  margin: 0;
}
.autocomplete-items div {
  padding: 0.5em;
  cursor: pointer;
  color: var(--sds-color-font);
  background-color: var(--main-bg-color);
  border-bottom: 1px solid var(--sds-color-2);
  margin: 0;
  width: calc(100% - 1em);
}
.autocomplete-items div:hover {
  /*when hovering an item: */
  background-color: var(--sds-color-2);
}
.autocomplete-active {
  /*when navigating through the items using the arrow keys: */
  background-color: var(--sds-color-2) !important;
  color: var(--sds-color-font);
}
/* #endregion */
/* --------------------- Download/Share ---------------------- */
/* #region Download/Share */
#downloadfield {
  width: 100%;
  height: 3em;
  margin: 0;
  position: fixed;
  bottom: 2em;
  display: flex;
  justify-content: center;
  gap: 1em;
  align-items: center;
}
#downloadbutton {
  max-width: 60%;
  margin: 0;
  padding: 0 0.5em;
  align-items: center;
  display: flex;
  justify-content: center;
  z-index: 2;
  gap: 0.5em;
}
#downloadbutton p {
  width: 100%;
  margin: 0;
  padding: 0;
  text-align: center;

  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

#sharebutton {
  width: 2em;
  height: 2em;
  margin: 0;
  padding: 0;
  z-index: 2;
}
/* #endregion */
/* ------------------------ Settings ------------------------- */
/* #region Settings */
#settingsfield {
  margin: 0;
  padding: 1em;
  padding-top: 1.5em;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  max-height: 100%;
  overflow-y: scroll;
  left: 0;
  gap: 2em;
  flex-direction: column;
  z-index: 2;
  transform-origin: left center;
}
#settingsfield * {
  flex-direction: column;
}
/* #endregion */
/* -------------------------- Logos -------------------------- */
/* #region Logo */
/* SDS Logo */
.logo {
  position: absolute;
  bottom: 0;
  right: 0;
  margin: 2em;
  margin-bottom: 1.5em;
  flex-direction: column;
  width: 5em;
  z-index: 2;
}
#title > .logo {
  transform-origin: top;
  margin: 0;
  bottom: auto;
  right: auto;
  top: 10%;
}
.logo div {
  margin: 0;
  padding: 0;
  justify-content: left;
  text-align: justify;
  text-align-last: justify;
  width: 100%;
  display: table-row;
  letter-spacing: -0.2em;
}
/* first div in .logo */
.logo > div {
  font-family: "Open-Sans-Bold";
  font-size: 0.75em;
  /* all caps */
  text-transform: uppercase;
  color: var(--sds-logo-color);
}
#title > .logo > div {
  color: var(--sds-color-font);
}
/* second div in .logo */
.logo > div ~ div {
  font-family: "Bitter";
  font-size: 2.75em;
  margin-left: -0.05em;
  width: 98%;
  /* all caps */
  text-transform: uppercase;
  margin-top: -0.25em;
  margin-bottom: -0.1em;
  color: var(--sds-logo-color-middle);
}
#title > .logo > div ~ div {
  color: var(--sds-color-font);
}
/* third div in .logo */
.logo > div ~ div ~ div {
  font-family: "Open-Sans-Bold";
  font-size: 0.7em;
  color: var(--sds-logo-color);
  width: 102%;
}
.logo > div ~ div ~ div:focus {
  letter-spacing: normal;
  text-align: center;
  text-align-last: center;
}

#title > .logo > div ~ div ~ div {
  color: var(--sds-color-font);
  letter-spacing: -0.2em;
  width: 100%;
}
#title {
  display: flex;
  flex-direction: row;
  height: 10%;
  width: 101%;
  position: absolute;
  align-items: center;
  justify-content: center;
}
/* #endregion */
/* -------------------------- Forms -------------------------- */
/* #region Forms */
form {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  margin: 0;
  padding: 0;
  height: 100%;
}

.cpframe > .material-icons {
  font-size: 3em;
  margin: 0;
  padding: 0;

  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.cpframe > input[type="color"] {
  visibility: hidden;
}
.cpframe {
  font-size: 0.5em;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 5em;
  height: 5em;
  padding: 0;
  margin: 0;
  background-color: #b1003a;
}

input[type="submit"],
a {
  border: none;
  font-size: 1.5em;
  color: var(--sds-color-font);
  background-color: var(--sds-color-2);
  text-decoration: none;
  cursor: pointer;
  height: 2em;
  padding-left: 1em;
  padding-right: 1em;
  margin: 0.5em;
  /* align elements in middle */
  display: flex;
  justify-content: space-around;
  align-items: center;
}
input[type="file"] {
  display: none;
}

#imtint {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: 0;
  padding: 0;
  height: 100%;
  gap: 1em;
}

#imtint > .cptag:last-child {
  align-items: end;
}

.custom-file-upload {
  font-size: 0.5em;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 5em;
  width: 5em;
  background-color: var(--sds-color-2);
  color: var(--sds-color-font);
  cursor: pointer;
}

.shadow-button {
  --shadow-distance: 0.25rem;
  --border-size: 0.1rem;
  border: var(--sds-color-shadow) var(--border-size) solid;
  box-shadow: var(--sds-color-shadow) var(--shadow-distance)
    var(--shadow-distance) 0 0;

  transition: box-shadow transform 1s ease-in-out;
}
.shadow-button:hover:not(.unresponsive),
.shadow-button:focus:not(.unresponsive) {
  box-shadow: var(--sds-color-shadow) calc(var(--shadow-distance) * 0.75)
    calc(var(--shadow-distance) * 0.75) 0 0;
  transform: translate(
    calc(var(--shadow-distance) * 0.25),
    calc(var(--shadow-distance) * 0.25)
  );
}
.shadow-button:active:not(.unresponsive) {
  box-shadow: var(--sds-color-shadow) calc(var(--shadow-distance) * 0.25)
    calc(var(--shadow-distance) * 0.25) 0 0;
  transform: translate(
    calc(var(--shadow-distance) * 0.75),
    calc(var(--shadow-distance) * 0.75)
  );
}

.custom-file-upload > .material-icons {
  font-size: 3em;
  margin: 0;
  padding: 0;
}
.cptag {
  margin: 0;
  align-self: center;
  display: flex;
  text-align: left;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  width: 100%;
  position: relative;
}

.cptag > p {
  position: absolute;
  margin: 0;
  padding: 0;
  font-size: 0.7em;
  color: var(--sds-color-font);

  top: 0;
  left: 0;
  z-index: 1;

  transform: translate(0.5em, -100%);
}

.cptag select {
  font-size: 0.5em;
  width: 100%;
  margin: 0;
  color: var(--sds-color-font);
  text-align: center;
  text-align-last: center;

  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;

  background-color: var(--main-bg-color);
  padding: 0.2em 0.5em;
  padding-right: 2.5em;
  border-radius: 0;

  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;

  display: flex;
  justify-content: center;
  align-items: center;
}

.cptag select ~ .material-icons {
  font-size: 1.5em;
  margin: 0;
  padding: 0;
  position: absolute;
  top: 50%;
  right: 0;
  transform: translate(0, -50%);
  pointer-events: none;
}

.cptag select:focus {
  outline: none;
}
/* #endregion */
/* ------------------------- Sticker ------------------------- */
/* #region Sticker */
.stickerdemo {
  background-color: white;
  width: 28em;
  height: 28em;
  position: absolute;
  margin: 0;
  box-shadow: var(--sds-color-shadow) 0.5em 0.5em 0 0;
}
.stickerdemo #opacitypercentage {
  width: 100%;
  height: 100%;
  font-size: 5em;
  align-items: center;
  justify-content: center;
  margin: 0;
  color: var(--sds-color-font);
  z-index: 1;
  opacity: 0%;
  /* animate opacity */
  animation: opacity 2s infinite;
}
.backgroundimage {
  background-image: url(tree.jpeg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  width: 100%;
  height: 100%;
  position: relative;
  margin: 0;
  top: 0;
  left: 0;
  display: unset;
}
.tint {
  background-color: #b1003a;
  opacity: 0.5;
  position: relative;
  top: 0;
  left: 0;
  margin: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.effect {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  margin: 0;
}
.input {
  opacity: 0%;
  display: inline;
  flex-direction: column;
  justify-content: left;
  align-items: top;
  position: absolute;
  margin: 1em;
  width: max-content;
  max-width: calc(200% - 5em);
  max-height: calc(200% - 5em);
  overflow: clip;
  /* break words when over max-width */
  word-wrap: break-word;
  color: white;
  font-size: 2.5em;
  transform: scale(0.5);
  top: 0;
  left: 0;
  display: table;
  background-color: black;
  padding: 0.2em;
  padding-left: 0.5em;
  padding-right: 0.5em;
  transform-origin: top left;
  z-index: 1;
}
.renderedtext {
  /* not selectable */
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  pointer-events: none;
  opacity: 0%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  position: absolute;
  margin: 1em;
  width: calc(200% - 4em);
  color: white;
  font-size: 2.5em;
  transform: scale(0.5);
  top: 0;
  left: 0;
  transform-origin: top left;
  z-index: 1;
}
.renderedtext > p {
  display: table;
  margin: 0;
  margin-top: -0.5px;
  margin-bottom: -0.5px;
  background-color: black;
  padding: 0.2em;
  padding-left: 0.5em;
  padding-right: 0.5em;
  transform-origin: center left;
}
.renderedtext > p.text {
  font-family: Open-Sans;
  font-size: 0.7em;
  width: calc(100% - 1em);
  padding-top: 0.1em;
  padding-bottom: 0.1em;
}
.commanddisplay {
  pointer-events: all;
  background-color: var(--sds-color-2);
  margin: 0.1em;
  padding: 0.1em;
  padding-left: 0.5em;
  padding-right: 0.5em;
  min-width: 1em;
  text-align: center;
  font-size: 0.8em;
  font-family: Open-Sans;
  justify-content: center;
  align-items: center;
  display: flex;
  height: 100%;
  cursor: pointer;
}
.commanddisplaycontainer {
  left: 0;
  position: absolute;
  margin: 0;
  padding: 0;
  height: 1.42em;
  display: flex;
  justify-content: left;
  margin-left: calc(100% + 4em);
}
.portrait:not(.awkward) .commanddisplaycontainer {
  display: none;
}

.addcd:has(input) {
  padding: 0;
}
.addcd > input {
  width: 100%;
  height: 100%;
  margin: 0;
  font-size: 1em;
}
.input.active {
  opacity: 100%;
}
.renderedtext.active {
  opacity: 100%;
}
/* #endregion */
/* --------------------- Mobile/Scaling ---------------------- */
/* #region Mobile/Scaling */
/* Portrait */
/* #region Portrait */
.portrait #settingsfield {
  flex-direction: row;
  left: 50%;
  transform-origin: center bottom;
  transform: translateX(-50%) scale(0.8);
  min-width: fit-content;
  height: unset;
  top: unset;
  bottom: 2em;
}

.portrait #savefield {
  left: 50%;
  transform: translateX(-50%);
  top: 17%;
  align-items: center;
  justify-content: center;
}
.portrait #downloadfield {
  height: 4em;
  margin: 0;
  position: fixed;
  bottom: 8em;
  display: flex;
  justify-content: center;
  align-items: center;
}
/* #endregion */
/* #endregion */
